{% extends '::base.html.twig' %}

{% block body %}

    <div class="sidebar-nav">
        <a href="#dashboard-menu" class="nav-header" data-toggle="collapse"><i class="icon-dashboard"></i>Dashboard</a>
        <ul id="dashboard-menu" class="nav nav-list collapse in">
            <li><a href="#">Home</a></li>
            <li ><a href="#">Sample List</a></li>
            <li ><a href="#">Sample Item</a></li>
            <li ><a href="#">Media</a></li>
            <li ><a href="#">Calendar</a></li>
        </ul>
    </div>

    <div class="content">
        <div class="header">
            <div class="stats">
                {% block stats %}[STATS HERE]{% endblock %}
            </div>
            <h1 class="page-title">{% block page_title %}[PAGE TITLE HERE]{% endblock %}</h1>
        </div>

        <div class="container-fluid">
            <div class="row-fluid">
                {% block content %}[CONTENT HERE]{% endblock %}

                <footer>
                    <hr><!-- Purchase a site license to remove this link from the footer: http://www.portnine.com/bootstrap-themes -->
                    <p class="pull-right">A <a href="http://www.portnine.com/bootstrap-themes" target="_blank">Free Bootstrap Theme</a> by <a href="http://www.portnine.com" target="_blank">Portnine</a></p>
                    <p>&copy; 2012 <a href="http://www.portnine.com" target="_blank">Portnine</a></p>
                </footer>
            </div>
        </div>
    </div>
{% endblock %}